body {
    position: relative;
    margin: 20px 20px 20px 20px;
    width: auto;
}

hr {
    margin: 10px 0;
    height: 3px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    position: relative;
    display: block;
    box-sizing: content-box;
    background-color: #ddd;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}

.main {
    text-align: center;
    font: 16px/1.8 "Microsoft YaHei", "Noto Sans", "Noto Sans CJK", "Lato", "Microsoft Jhenghei", "Hiragino Sans GB", arial, sans-serif;
    color: #333;
    text-shadow: 4px 4px 4px #aaa;
}

.preview {
    height: 480px;
    width: 320px;
    margin: 5px auto 5px auto;
}

.shadow_layer {
    position: absolute;
    z-index: 1;
    height: 480px;
    width: 320px;
}

.image_preview {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    height: 480px;
    width: 320px;
}

.image-preview img {
    max-width: 100%;
}

#image {
    max-width: 100%;
    max-height: 100%;
}

.control_panel {
    bottom: 0;
}